@import "./reset.css";
@import "./variables.css";
@import "../src/md-editor/index.css";
@import "../src/json-editor/index.css";

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
}

input {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
  border: 1px solid grey;
}

button {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
  border: 1px solid grey;

}

dialog {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
  border: 1px solid grey;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.7);
}