:root {
  --line-height: 1rem;
  --bg-color: black;
  --fg-color: white;
  --neutral-background: var(--bg-color);
  --neutral: grey;
  --neutral-light: lightgrey;
  --neutral-dark: darkgrey;
  --neutral-extra-dark: #3d3d3d;
  --highlight-color: var(--neutral-extra-dark);
  --error: red;
  --warning: yellow;
  --notice: green;
  --lnsy-edit-background: var(--bg-color);
  --lnsy-edit-foreground: var(--fg-color);
  --lnsy-edit-selection: var(--highlight-color);
  --lnsy-edit-neutral: var(--neutral-light);
  --lnsy-edit-gutter-background: var(--neutral-background);
  --lnsy-edit-gutter-border: var(--neutral-background);
  --lnsy-edit-guttermarker: var(--neutral);
  --lnsy-edit-guttermarker-subtle: var(--neutral);
  --lnsy-edit-linenumber: var(--neutral);
  --lnsy-edit-cursor: var(--neutral-light);
  --lnsy-edit-comment: var(--neutral-dark);
  --lnsy-edit-atom: var(--neutral-light);
  --lnsy-edit-number: var(--neutral);
  --lnsy-edit-property: var(--neutral-dark);
  --lnsy-edit-attribute: var(--neutral-dark);
  --lnsy-edit-keyword: var(--neutral);
  --lnsy-edit-string: var(--fg-color);
  --lnsy-edit-variable: var(--fg-color);
  --lnsy-edit-variable-2: var(--neutral-light);
  --lnsy-edit-def: var(--neutral);
  --lnsy-edit-bracket: var(--neutral-dark);
  --lnsy-edit-tag: var(--neutral-dark);
  --lnsy-edit-link: var(--neutral-light);
  --lnsy-edit-error-background: var(--bg-color);
  --lnsy-edit-error-foreground: var(--error);
  --lnsy-edit-activeline-background: var(--neutral-extra-dark);
  --lnsy-edit-matchingbracket-color: var(--neutral-light) !important;
  --lnsy-edit-matchingbracket-background: var(--neutral-extra-dark);
}

